.app {
  width: 100%;
  height: 100%;

  .app__container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: 15% 85%;
    box-sizing: border-box;

    .sidebar__container {
      width: 100%;
      height: 100vh;
    }
    .home__container {
      width: 100%;
      height: 100vh;
      margin: 0 auto;
    }
  }
}
