*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-style: normal;
}
html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  max-width: 1920px;
  /* height: max-content; */
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

Link{
  list-style: none;
}

a{
  text-decoration: none; 
}