.main_tags {
  position: relative;
}
.guide {
  margin-top: 50px;
  padding: 30px;
  height: 220px;
  background: #f8f8ff;
  border-radius: 30px;
  box-shadow: 0px 1px 5px 1px #d3d3d3;

  h1 {
    font-size: 45px;
    font-weight: bold;
  }
  .btns {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    //
    //
  }
  button {
    background: #1c84ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    padding: 13px 45px;
    color: white;
    font-size: 22px;
    cursor: pointer;
  }
}
.search_main {
  padding: 30px;
  height: 121px;
  background: #f8f8ff;
  border-radius: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  position: relative;
  .search {
    width: 100%;
    height: 59px;
    padding-left: 70px;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 53px;
    font-size: 15px;
    border: 2px solid #d7d7d7;
    outline: none;
    background: #f8f8ff;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .icon_menu {
    background-color: #1c84ff;

    padding: 10px;
    top: 31px;

    width: 58px;
    height: 58px;
    top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
  }
}

.table_main {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f8f8ff;
  box-shadow: 0px 1px 5px 1px #d3d3d3;

  margin-top: 20px;
  border-radius: 30px;
  padding: 30px 0px;
  .table_left {
    ul {
      li:hover {
        color: #1c84ff;
      }
      li::before {
        content: "•";
        position: absolute;
        top: 9px;
        left: 30px;
      }
    }
  }
  li {
    cursor: pointer;
    padding: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding-left: 50px;
  }
  li:nth-child(even) {
    background-color: #d8e0fb;
  }
}
.table2 {
  li:nth-child(1) {
    color: transparent;
  }
}
