.lesson__html-container {
  width: 100%;
  margin: 50px auto;
  .lesson__html-inner {
    width: 100%;
    height: 100%;

    .lesson__title__video {
      width: 100%;
      .lesson__title {
        width: 100%;
        height: 100px;

        justify-content: flex-start;
        gap: 20px;
        h2 {
          font-family: "Inter";
          font-style: normal;
          font-size: 34px;
          line-height: 41px;
          font-weight: 700;
        }
        .title__black {
          color: #000;
        }
        .title__blue {
          color: #1c84ff;
        }
      }
      .lesson__video {
        width: 100%;
        height: auto;
        // height: 718px;

        video {
          width: 100%;
          height: 100%;
        }
      }
    }
    .lesson__context {
      margin-top: 50px;
      width: 100%;
      height: auto;

      p {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        line-height: 26.68px;
        color: #000;
        font-weight: 500;
      }
      .first__text {
        width: 100%;
        height: 100px;
      }
      .first__img {
        width: 100%;
        height: 459px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .second__text {
        margin-top: 50px;
        width: 100%;
        height: 110px;
      }
      .second__img {
        margin-top: 50px;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 200px;
          height: 50px;
          border: none;
          color: #fff;
          border: none;
          border-radius: 12px;
          text-align: center;
          background-color: #1c84ff;
        }
      }
      .third__text {
        width: 100%;
        height: 36px;
        margin-top: 50px;
      }
      .fourth__text {
        margin-top: 50px;
        padding: 0px 25px 0 25px;
        width: 100%;
        height: 120px;
        background: #f8f8f8;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        .top {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          gap: 15px;
          justify-content: flex-end;
          .copy {
            cursor: pointer;
            color: #1c84ff;
          }
          .copy_html {
            color: gray;
          }
        }
        .bottom {
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
      .fifth__text {
        width: 100%;
        height: 68px;
        margin-top: 50px;
      }

      .third__img {
        width: 100%;
        height: 400px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .sixth__text {
        width: 100%;
        height: 75px;
        margin-top: 50px;

        p {
          span {
            color: red;
          }
        }
      }

      .seven__text {
        margin-top: 10px;
        width: 100%;
        height: 75px;
      }
      .lesson__slider {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;

        p {
          color: #fff;
          // margin-top: 10px;
        }
        a {
          text-decoration: none;
        }
        .prev {
          width: 350px;
          height: 60px;
          font-size: 25px;
          color: #fff;
          background: #1c84ff;
          border-radius: 20px;
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        .next {
          width: 280px;
          height: 60px;
          font-size: 25px;
          color: #fff;
          background: #1c84ff;
          border-radius: 20px;
          display: flex;
          align-items: center;
          text-align: center;
          gap: 20px;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
}
